*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	background: tomato;
	font-family: 'Raleway', sans-serif;
	max-width: 100vw;
	overflow: hidden;
	margin: 0;
	padding: 0;
	color: #fff;
	text-align: center;
}

h1 {
	font-size: 40px;
	margin: 0;
	letter-spacing: 1px;
}

h1 em {
	font-style: normal;
	font-size: 35px;
	letter-spacing: 3px;
}
